@media (max-width:390px) {
    .header{
   background: red;
   background-image: url("../../assets/header.png");
    width: 100% !important;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    }
    .content-header{
     width:80% ;
     height: 29px;
     padding: 0px 9px 0px 8px;
     gap: 94px;
     display: flex;
     margin: 27px 10px;
     justify-content: center;
    }
    .content-header i{
        font-size: 15px;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }
    .content-header div{
        color: var(--white);
        display: block;
        width: 119px;
        height: 29px;
       margin: -17px 0;
    }
    .content-header h1{
        font-family: Inria;
        font-size: 24px;
         font-weight: 700;
         line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
     
    }
}
@media (max-width:360px) {
    .content-header{
        width: 80%;
        gap: 65px;
    }
    
}