:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --white:#fff;
  
}

body {
  margin: 0;
  font-family: "Inter", Sans-serif;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

*{
/* overflow-x: hidden !important; */
}